<a href="https://colab.research.google.com/github/shunnnl/2023-AI-BASIC/blob/main/2%EC%9D%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
pin="881120-1068234"
yyyymmdd=pin[:6]
num=pin[7:]
print(yyyymmdd)
print(num)

# split() : 문자열의 구분자를 인자로 받아 나누는 함수 -> 리스트 형태로 만들어짐.
pin_list=pin.split("-")
yyyymmdd=pin_list[0]
num=pin_list[1]

print(yyyymmdd)
print(num)

881120
1068234
881120
1068234

In [13]:
pin="881120-1068234"
print(pin[7])

# split()사용
print(pin.split('-')[1][0])

1
1

In [14]:
a=[1,3,5,4,2]
a.sort(reverse=True)
print(a)

# reverse() 사용
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [15]:
a=['Life','is','too','short']
a[0]+' '+a[1]+' '+a[2]+' '+a[3]

# join() 사용
result=' '.join(a)
print(result)

Life is too short

In [22]:
a=(1,2,3)
a=list(a)
a.append(4)
a=tuple(a)
print(a)

(1, 2, 3, 4)

In [24]:
a={'A':90,'B':80,'C':70}

# pop(key) : value를 return
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [25]:
a=[1,1,2,2,3,3,3,4,4,5]
aSet=set(a)
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [26]:
# a값 변경 시 b값도 변경된다. 그 이유는 a와 b가 동일한 리스트를 참조하고 있다.
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

In [29]:
# f" " : 문자열 내부에 {}안에 설정된 값은 변수를 사용해서 출력 가능하다.
x=3928
y=500
z=100
print(f"{y}원짜리 동전 {x//y+(x%y>0)}개를 내세요")
print(f"{z}원짜리 동전 {x//z+(x%z>0)}개를 내세요")

500원짜리 동전 8개를 내세요
100원짜리 동전 40개를 내세요

In [30]:
a=21.9
b=37
c=13.6
print((a+b+c)/3)

# round(값, 반올림 자릿수) : 반올림 함수
print(round((a+b+c)/3,2))

24.166666666666668
24.17